:root {
  --main-text-color: #000;
  --first-text-color: #9197b3;
  --second-text-color: #292d32;
  --thrid-text-color: #b5b7c0;
  --accent-color: #5932ea;
  --active-text-color: #008767;
  --inactive-text-color: #df0404;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
